# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# OS files, security and certificates.
.DS_Store
*.pem

# Dependencies.
/node_modules/
.pnp
.pnp.js

# Test results and coverage.
coverage.json
/coverage/

# React Router (Remix) build artifacts.
/.react-router/
/build/

# Other build artifacts.
dist/

# Debug and error logs.
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables.
.env.local
.env.development.local
.env.test.local
.env.production.local
